Q.1 solution

For loop is used to iterate over sequence like list,tuple,set or any value in the variable to execute block of code for each item in the sequence.

In [4]:
s = [1,2,3,4,"sanket",34.2]
for i in s:
    print(i)

1
2
3
4
sanket
34.2

While loop is used for execute the repeated the block of code till a certain condition will met.

In [6]:
i = 0
while i<10:
    print(i)
    i = i+1

0
1
2
3
4
5
6
7
8
9

Q.2

In [9]:
#sum using for loop
sum = 0
for i in range(11):
    sum = sum + i
sum

55

In [10]:
# product using for loop
product = 1
for i in range(1,11):
    product = product*i
product

3628800

In [11]:
# sum using while loop
i = 1
sum = 0
while i<=10:
    sum = sum +i
    i = i+1
sum

55

In [12]:
#product using while loop
i = 1
product = 1
while i<=10:
    product *=i
    i +=1
product

3628800

Q.3

In [16]:
unit = int(input("enter the month unit "))
if unit <=100:
     print("total rupees is ", 4.5*unit)
elif unit <=200:
    print("total rupees is", 6*unit)
elif unit <=300:
    print("total rupees is", 10*unit)
elif unit >300:
    print("total rupees is",20*unit)

enter the month unit  301

total rupees is 6020

Q.4

In [26]:
#using for loop
l = []
for i in range(1,101):
    i = i**3
    if i%4 ==0 and i%5 == 0 :
        l.append(i)
l

[1000, 8000, 27000, 64000, 125000, 216000, 343000, 512000, 729000, 1000000]

In [1]:
#using while loop
l = []
i = 1
while i<=100:
    i = i**3
    if i%4 == 0 and i%5 ==0:
        l.append(i)
    i = i/3 +1
l

[]

Q.5

In [8]:
s = "I want to become Data Scientist"
s.lower()

'i want to become data scientist'

In [9]:
vowel = ['a','e','i','o','u']
count = 0
for i in s:
    if i in vowel:
        count = count +1
count

10